<html>
<head>
    <style>
        body{
        background-image: url("https://th.bing.com/th/id/OIP.8ivaBbi4NZi3fH6ynY5CCgAAAA?w=236&h=180&c=7&r=0&o=5&pid=1.7");
        background-repeat: no-repeat;
        background-size:100%;
        color:black;
    }
    </style>
</head>
<body>
<div>
<h1 align=center><i><b>DRUG  CLASSIFICATION</b></i></h1>
    <pre align=center style="font-size:23px;">Based on the given input, the suitable drug for your body condition is <b><u><i>{{ prediction_text }}</u><i/></b></pre></div>
</body>
</html>